* {
    box-sizing: border-box;
}

.h1 {
    font-size: 7vw;
    text-align: center;
}

.ls {
    width: 85%;
    margin: 0 auto;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.cont {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.cell {
    height: 350px;
    width: 350px;
    margin: 10px;
    object-fit: cover;
}

img {
    -webkit-filter: brightness(100%);
}

img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.banner h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-grow: 1;
    font-size: 5vw;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    display: flex;
    flex-direction: column;
    min-height: 20em;
    height: 50%;
    width: 80%;
    margin: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 60px 60px 60px 60px;
}

.lasanga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Alexs-Lasagna.jpg);
}

.shrimp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/grilled-shrimp-orzo-and-arugula-salad.jpeg);
}

.steak {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/grilled_flank_steak.jpeg);
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex: 33.33%;
}