.header {
    overflow: hidden;
    max-height: 400px;
}

header img {
    margin: auto;
    object-fit: fill;
    display: flex;
    align-items: center;
}

.h1 {
    font-size: 7vw;
    text-align: center;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.ls {
    width: 70%;
    margin: 0 auto;
}